Sphinx==1.8.5
aiomisc~=9.7.8
aiopg~=1.0.0
asyncpg==0.20.1
black==19.10b0
bump2version==1.0.0
coverage==4.5.4
flake8==3.7.8
pip==19.2.3
pytest-cov~=2.8.1
pytest-runner==5.1
pytest==4.6.5
tox==3.14.0
twine==1.14.0
watchdog==0.9.0
wheel==0.33.6
